mixin question(title, modifier)
  .question&attributes(attributes)
    a.question__link(href="#")
      p.p--lg.mb-0= title
    .question__answer
      .question__answer-text
        p В найденной в 2003 году окаменелости палеонтологи обнаружили самую древнюю из известных на данный момент ящериц. По-новому взглянуть на давнюю находку ученым помогли современные методы компьютерной томографии и 3D-моделирования. Результаты исследования опубликованы в журнале Nature.
        ul
          li В найденной в 2003 году окаменелости палеонтологи обнаружили самую древнюю из известных на данный момент ящериц.
          li По-новому взглянуть на давнюю находку ученым помогли современные методы компьютерной томографии и 3D-моделирования. Результаты исследования опубликованы в журнале Nature.
        ol
          li В найденной в 2003 году окаменелости палеонтологи обнаружили самую древнюю из известных на данный момент ящериц.
          li По-новому взглянуть на давнюю находку ученым помогли современные методы компьютерной томографии и 3D-моделирования. Результаты исследования опубликованы в журнале Nature.