.question {
  background: #fff;
  border: 1px solid #e0e0e0;
  padding: 19px 30px 19px 40px;

  @include media-breakpoint-down(sm) {
    padding: 20px;
  }
  
  &:first-of-type {
    border-radius: 5px 5px 0 0;
  }
  
  &:last-of-type {
    border-radius: 0 0 5px 5px;
  }
  
  &+& {
    border-top: 0;
  }
  
  &__link {
    color: #000;
    display: flex;
    justify-content: space-between;
    @include transition;
    
    p {
      line-height: 25px;
    }
    
    &:after {
      content: '';
      display: block;
      width: 10px;
      height: 18px;
      background: url(../img/arrow.svg) no-repeat;
      background-size: contain;
      flex-shrink: 0;
      margin-top: 5px;
      margin-left: 20px;
      @include transition;
    }
    
    &--active {
      
      &:after {
        transform: rotate(90deg);
      }
    }
  }
  
  &__answer {
    display: none;
    padding-top: 30px;
    padding-right: 120px;

    @include media-breakpoint-down(sm) {
      padding-right: 0;
    }
  }
  
  &__answer-text,  {
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 0;
  }
  
  &__answer-text p {
    font-size: 14px;
    line-height: 27px;
    margin-bottom: 30px;
  }
  
  &__answer-text ul, &__answer-text ol {
    margin-bottom: 30px;
  }
  
  &__answer-text ul li {
    font-size: 14px;
    line-height: 27px;
  }
  
  &__answer-text ol li {
    font-size: 14px;
    line-height: 27px;
  }
}
