h1 {
  font-size: 40px;
  text-transform: uppercase;
  color: $primary;
  font-weight: 800;
  margin-bottom: 40px;

  @include media-breakpoint-down(lg) {
    font-size: 34px;
    
    br {
      display: none;
    }
  };

  @include media-breakpoint-down(sm) {
    font-size: 26px;
    margin-bottom: 20px;
  }
}

h2 {
  font-size: 30px;
  line-height: 41px;
  color: #4f4f4f;
  font-weight: 400;
  text-transform: uppercase;;

  @include media-breakpoint-down(sm) {
    font-size: 26px;
    line-height: 34px;
  }
}

h3 {
  
}

h4 {
  
}

p {
  font-size: 15px;
  line-height: 29px;
  font-weight: 300;
  margin-bottom: 29px;
  
  &.p--lg {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 32px;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
  }
  
  &.p--lh-md {
    line-height: 21px;
  }
  
  &.p--sm {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  
  a {
    @include transition;
  }
}

b {
  font-weight: 500;
}

strong {
  font-weight: 700;
}

ul {
  padding-left: 0;
  
  li {
    list-style: none;
    display: flex;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    
    &+li {
      margin-top: 21px;
    }
    
    &:before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 16px;
      background: $primary;
      flex-shrink: 0;
      position: relative;
      top: 10px;
    }
  }
}

ol {
  padding-left: 24px;
  
  li {
    margin-bottom: 0;
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    
    &+li {
      margin-top: 21px;
    }
  }
}

table {
  
}

tr {
  
}

th {
  
}

td {
  
}

a {
  
}

input {
  
  &:focus {
    outline: none;
  }
}

textarea {
  
  &:focus {
    outline: none;
  }
}

select {
  
}

button {
  cursor: pointer;
  padding: 0;
  border: 0;
  
  &:focus {
    outline: none;
  }
}

input[type="submit"] {
  cursor: pointer;
  border: 0;
}

img {
  
}