.about {
  
  &__philosophy {
    border-right: 1px solid $secondary;
    padding: 30px;
    position: relative;
    margin-top: 70px;
    padding-left: 230px;

    @include media-breakpoint-down(md) {
      padding-left: 30px;
      border: 1px solid $primary;
      overflow: hidden;
    }

    @include media-breakpoint-down(sm) {
      padding: 20px;
    }
    
    &:before {
      content: '';
      display: block;
      width: 212px;
      height: 196px;
      background: url(../img/atom.svg) no-repeat center;
      background-size: 160px 160px;
      position: absolute;
      left: 0;
      top: 0;

      @include media-breakpoint-down(md) {
        opacity: .2;
        width: 100%;
        height: 100%;
        background-size: contain;
        background-position: center;
      }
    }
  }
  
  &__philosophy-borders {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    @include media-breakpoint-down(md) {
      display: none;
    }
    
    &:before {
      content: '';
      display: block;
      height: 1px;
      width: 85%;
      background: $secondary;
      position: absolute;
      top: 0;
      right: 0;
    }
    
    &:after {
      content: '';
      display: block;
      height: 1px;
      width: 80%;
      background: $secondary;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  
  &__also {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  &__also-number {
    font-size: 100px;
    line-height: 1;
    color: $primary;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 20px;

    @include media-breakpoint-down(lg) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
}