mixin about(modifier)
  .about#about&attributes(attributes)
    .container
      .row
        .col-12
          h2.text-center.mt-40.mt-xl-75.mb-30.mb-xl-50 О мероприятии
          p 7-8 декабря в Санкт-Петербурге состоялись Всероссийская конференция молодых учёных «Дальние горизонты науки» и VIII Всероссийский съезд Советов молодых ученых и специалистов. Целью мероприятий было привлечь молодых ученых, преподавателей, аспирантов и студентов к решению задач, определенных Стратегией научно-технологического развития Российской Федерации (СНТР).
          p.mb-0 СНТР была утверждена Указом Президента Российской Федерации от 1 декабря 2016 года №642. Согласно тексту документа научно-технологическое развитие нашей страны определяется комплексом внешних и внутренних (по отношению к области науки и технологий) факторов, формирующих систему больших вызовов, а наука и технологии являются одними из ключевых инструментов для ответа на эти вызовы. Преодоление каждого из вызовов требует от отечественной наукой решения новых сложных, комплексных задач, требующих объединения значительных ресурсов научно-технологической сферы, а также переход к новым механизмам управления и организации научной деятельности.
          .about__philosophy
            .about__philosophy-borders
            p.mb-0
              span.font-weight-bold Молодые ученые – движущая сила развития России 
              | в настоящем и будущем. Их творческий потенциал и энергия позволяют заглянуть за дальние горизонты науки и находить комплексные решения для актуальных проблем. В соответствии с программой Конференции состоялись презентации смелых и масштабных проектов молодых ученых, направленных на преодоление больших вызовов. В работе мероприятия приняли участие более 500 научных лидеров со всей страны.
          .row.mt-40.mt-xl-100.mb-40.mb-xl-0
            .col-sm-6.col-xl-5
              p.p--lg
                span.font-weight-bold Результатом работы 
                | стали предложения по координации деятельности Советов на 2018-2020 года для участия в решении задач СНТР.
            .col-sm-6.offset-xl-1
              .about__also
                .about__also-number VIII
                p.font-weight-bold.mb-0 Кроме того, в рамках Конференции состоялось VIII Всероссийское совещание Советов молодых ученых и специалистов.
          .row
            .col-sm-6.mb-20.mb-sm-0
              img.img-fluid(src="img/quote-2.png", alt="Quote")
            .col-sm-6
              img.img-fluid(src="img/quote-1.png", alt="Quote")
          .row.mt-60#program
            .col-sm-6
              h2.mb-30 Задачи Конференции и Съезда
              ul
                li.font-weight-semibold Обсуждение путей решения «больших вызовов» и приоритетов СНТР молодыми учеными, преподавателями и студентами;
                li.font-weight-semibold Декомпозиция больших вызовов и приоритетов СНТР молодыми учеными, преподавателями и студентами;
                li.font-weight-semibold Развитие научной коммуникации и компетенций молодых исследователей, необходимых для реализации приоритетов научно-технологического развития;
                li.font-weight-semibold Координация работы Советов молодых ученых с целью совместного решения общих задач;
                li.font-weight-semibold Вовлечение талантливой научной молодёжи в реализацию научно-технологических проектов, направленных на реализацию СНТР;
                li.font-weight-semibold Налаживание взаимодействия сектора научных разработок и бизнеса. 
            .col-sm-6
              h2.mb-30.mt-30.mt-sm-0 Участники
              p.p--lg.mb-0 В работе Конференции и Съезда приняли участие более 500 человек из различных субъектов Российской Федерации, в число которых вошли представители советов молодых ученых и специалистов, представители институтов развития и органов власти, а также отобранные на конкурсной основе молодые (до 35 лет) ученые, руководители исследовательских и предпринимательских проектов, лабораторий и научных групп.
          .accent.mt-30.mt-sm-70
            p.p--lg.font-weight-bold.mb-0 Конференция и Съезд призваны сформировать набор примеров смелых и масштабных проектов молодых ученых, направленных на преодоление больших вызовов, для развития долгосрочной мотивации молодых ученых.