/* Bootstrap */

.btn {
  
  &.btn-sm {
    padding: 6.5px 13.43px;
  }
  
  &.btn-lg {
    font-size: 15px;
    padding: 14.2px 40px;
  }
  
  &--signup {
    display: inline-flex;
    align-items: center;
    
    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background: url(../img/plus.svg) no-repeat;
      background-size: contain;
      margin-right: 11px;
    }
  }
}

.font-weight-semibold {
  font-weight: 600;
}

.form-group {
  margin-bottom: 30px;
}

.custom-checkbox {
  padding-left: 27px;
  
  .custom-control-input {
    
    &:checked ~ .custom-control-label {
      
      &:before {
        background: #c4c4c4;
      }
      
      &:after {
        width: 13px;
        height: 13px;
        background: url(../img/check.svg) no-repeat center;
        background-size: 80% auto;
        left: -27px;
        top: 0;
      }
    }
  }
  
  .custom-control-label {
    font-size: 10px;
    font-weight: 300;
    
    &:before {
      width: 13px;
      height: 13px;
      background: #c4c4c4;
      left: -27px;
      top: 0;
    }
  }
  
  a {
    @include transition;
  }
}

.custom-radio {
  padding-left: 36px;
  margin-bottom: 12px;
  
  .custom-control-input {
    
    &:checked ~ .custom-control-label {
      
      &:before {
        background: $secondary;
      }
      
      &:after {
        display: none;
      }
    }
  }
  
  .custom-control-label {
    font-size: 15px;
    color: #4f4f4f;
    
    &:before {
      width: 20px;
      height: 20px;
      background: #fff;
      border: 1px solid $secondary;
      left: -36px;
      top: 2px;
    }
    
    &:after {
      width: 20px;
      height: 20px;
      background: transparent;
      border: 0;
      left: -36px;
      top: 2px;
    }
  }
  
  &--btn {
    padding-left: 0;
    margin-bottom: 20px;

    .custom-control-input {

      &:checked ~ .custom-control-label {
        background: $primary;
        box-shadow: 0px 4px 20px rgba(18, 186, 152, 0.54);
        color: #fff;
        border-color: $primary;

        &:before {
          display: none;
        }

        &:after {
          display: none;
        }
      }
    }

    .custom-control-label {
      font-size: 18px;
      color: #4f4f4f;
      border: 1px solid $secondary;
      height: 60px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &:before {
        display: none;
      }
    }
  }
}


/* Select2 */

.select2 {
  width: 100%!important;
}

.select2-container {
  
  ul {
    
    li {
      
      & + li {
        margin-top: 0;
      }
      
      &:before {
        display: none!important;
      }
    }
  }
}

.select2-selection--single {
  height: 45px!important;
  border: 0!important;
  border-bottom: 1px solid #c4c4c4!important;
  border-radius: 0!important;
  
  &:focus {
    outline: none;
  }
}

.select2-selection__rendered {
  height: 45px!important;
  line-height: 45px!important;
  padding-left: 0!important;
  font-size: 18px!important;
  color: #000!important;

  @include media-breakpoint-down(md) {
    padding-left: 0!important;
  }
  
  &:focus {
    outline: none;
  }
}

.select2-selection__placeholder {
  line-height: 45px;
  color: #808083;
  font-size: 13px!important;
}

.select2-selection__arrow {
  right: 0!important;
  top: 50%!important;
  margin-top: -4px!important;
  height: auto!important;
  
  b {
    border-width: 0!important;
    width: 11px!important;
    height: 8px!important;
    margin: 0!important;
    background: url(../img/triangle.svg) no-repeat;
    background-size: contain;
  }
}

.select2-dropdown {
  border: 0!important;
}

.select2-results__option {
  height: 45px;
  display: flex;
  align-items: center;
  padding-left: 0;
  border-bottom: 1px solid #c4c4c4!important;

  @include media-breakpoint-down(md) {
    padding-left: 0!important;
  }
  
  &.select2-results__option--highlighted {
    background: transparent!important;
    color: #000!important;
  }
  
  &:hover {
    color: rgba(#000, .5)!important;
  }
}


/* jQuery File Upload */

.bar {
  height: 38px;
  background: #dee3e7;
}