.input-line {
  border: 0;
  border-bottom: 1px solid #C4C4C4;
  border-radius: 0;
  height: 45px;
  padding-left: 0;
  background: transparent;
  font-size: 18px;
  width: 100%;
    
  &:focus {
    outline: none;
    box-shadow: none;
  }
  
  &--calendar {
    background: transparent url(../img/calendar.svg) no-repeat right center!important;
    
    &:focus {
      background: transparent url(../img/calendar.svg) no-repeat right center!important;
    }
  }
  
  &--textarea {
//    height: 150px;
    font-size: 15px;
    line-height: 23px;
    color: #0F0F0F;
    resize: none;
//    overflow: hidden;
  
    @media print {
//      border: 1px solid #C4C4C4;
    }
  }
  
  &--project-name {
    resize: none;
//    overflow: hidden;
  }
}
