include ../blocks/header/header.pug
include ../blocks/menu/menu.pug
include ../blocks/search/search.pug
include ../blocks/front/front.pug
include ../blocks/russia/russia.pug
include ../blocks/about/about.pug
include ../blocks/quote/quote.pug
include ../blocks/participate/participate.pug
include ../blocks/competition/competition.pug
include ../blocks/nomination/nomination.pug
include ../blocks/member/member.pug
include ../blocks/challenge/challenge.pug
include ../blocks/lecture/lecture.pug
include ../blocks/organizer/organizer.pug
include ../blocks/partners/partners.pug
include ../blocks/question/question.pug
include ../blocks/form/form.pug
include ../blocks/input/input.pug
include ../blocks/contacts/contacts.pug
include ../blocks/map/map.pug
include ../blocks/accent/accent.pug
include ../blocks/members-list/members-list.pug
include ../blocks/challenges-list/challenges-list.pug
include ../blocks/lectures-list/lectures-list.pug
include ../blocks/registration/registration.pug
include ../blocks/file/file.pug
include ../blocks/input-line/input-line.pug
include ../blocks/select/select.pug
include ../blocks/print/print.pug
