doctype html
html(lang='ru')
  include ../templates/head.pug
  include ../templates/blocks.pug
  
  body
    block content
    script(src='https://api-maps.yandex.ru/1.1/index.xml')
    script(src="js/scripts.js?version=3")