.participate {
  padding-top: 65px;
  background: $light;
  padding-bottom: 80px;

  @include media-breakpoint-down(sm) {
    padding: 30px 0;
  }
  
  &__appeal {
//    font-size: 50px;
//    line-height: 54px;
//    color: $primary;
//    text-transform: uppercase;
//    font-weight: 300;
//    margin-bottom: 0;
    font-size: 28px;
    line-height: 41px;
    color: $primary;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;

    @include media-breakpoint-down(md) {
      margin-top: 30px;
    }

    @include media-breakpoint-down(sm) {
      font-size: 22px;
      line-height: 30px;
    }
  }
}
