mixin participate(modifier)
  .participate#participate&attributes(attributes)
    .container
      .row
        .col-12
          h2.text-center.mb-30.mb-lg-50 Регистрация
      .row
        .col-lg-5
          p Регистрация участников на Всероссийскую конференцию молодых ученых «Дальние горизонты науки» и VIII Всероссийский съезд Советов молодых ученых и специалистов, который состоялся в Санкт-Петербурге с 7 — 8 декабря 2017 года, проходила с 1 октября по 17 ноября 2017 г.
          p.p--lg.font-weight-bold.mt-40.mb-30 Принять участие в мероприятиях можно следующими способами:
          ul
            li стать делегатом от СМУС/СМУ/СНО (требовалось подтверждение в виде выписки из Решения СМУС/СМУ/СНО);
            li стать победителем первого этапа Конкурса идей научно-исследовательских работ;
            li подать заявку до 17 ноября, она будет рассмотрена Программным комитетом.
        .col-lg-7.col-xl-6.offset-xl-1
          p.participate__appeal Благодарим всех, кто проявил интерес к Конференции и Съезду!