.input {
  width: 100%;
  height: 56px;
  border-radius: 5px;
  border: 0;
  background: #fff;
  padding: 0 20px;
  font-size: 15px;
  font-weight: 300;
  @include placeholder(#000);
  
  &:focus {
    outline: none;
    box-shadow: none;
    border: 0;
  }
  
  &--textarea {
    resize: none;
    flex-grow: 1;
    min-height: 100px;
    padding: 15px 20px;
  }
}
