.print {
  
  &__true {
    
    @media print {
      display: block;
    }
  }
  
  &__false {
    
    @media print {
      display: none;
    }
  }
  
  &__invisible {
    display: none;
    
    @media print {
      display: block;
    }
    
    &--inline {
    
      @media print {
        display: inline;
      }
    }
  }
  
  &__form {
    
    @media print {
      display: flex;
      flex-direction: column;
    }
  }
  
  &__info {
    
    @media print {
      align-items: flex-end;
    }
  }
  
  &__order {
    
    &--first {
    
      @media print {
        order: 0;
      }
    }
    
    &--second {
    
      @media print {
        order: 1;
      }
    }
    
    &--third {
    
      @media print {
        order: 2;
      }
    }
  }
  
  @media print {
    
    .front {
      margin-bottom: 50px;
    }
  
    .registration {
      padding-top: 20px;
    }

    .front__right {
      margin-top: 0;
    }

    .col-lg-9 {
      max-width: 100%!important;
      padding-top: 0!important;
    }
    
    .registration__subsection-header {
      padding: 0;
//      margin-top: 40px;
    }
    
    .registration__subsection-title {
      font-size: 20px;
    }
    
    .registration__label--static {
      position: static!important;
      order: 0;
    }
    
    .input-line {
      
    }
    
    .registration__section {
      border-bottom: 0;
    }
  }
}