.lecture {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 300px;
  padding: 0 15px;
  text-align: center;
  margin-bottom: 40px;

  @include media-breakpoint-down(md) {
    width: 33.33%;
  }

  @include media-breakpoint-down(sm) {
    width: 100%;
    max-width: none;
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  &__content-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__content-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  &__photo {
    width: 188px;
    height: 188px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
