mixin lecture(photo, name, title, modifier)
  .lecture&attributes(attributes)
    .lecture__photo.mb-25(style="background-image: url(./img/" + photo + ");")
    .lecture__content
      .lecture__content-top
        p.font-weight-bold.text-uppercase.mb-5= name
        p.text-primary.font-weight-light.mb-20= title
      .lecture__content-bottom
        p.font-weight-light.mb-15 4 декабря, 18:00, СПбГУ
        a.btn.btn-secondary.btn-sm.btn--signup(href="#") Зарегистрироваться