.organizer {
  border: 1px solid #B7E4CA;
  padding: 30px 50px 30px 45px;
  margin-bottom: 25px;

  @include media-breakpoint-down(sm) {
    padding: 20px;
  }
  
  &__left {
    display: flex;
    align-items: center;
    padding-right: 60px;

    @include media-breakpoint-down(lg) {
      padding-right: 0;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
      padding-right: 0;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      text-align: center;
    }
  }
  
  &__logo {
    width: 120px;
    height: 120px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
    }
  }
  
  &__title {
    font-size: 20px;
    line-height: 27px;
    margin-left: 20px;

    @include media-breakpoint-down(sm) {
      margin-left: 0;
    }
  }
  
  &__subheader {
    line-height: 20px;
  }
}
