mixin organizer(logo, title, dscr, modifier)
  .organizer&attributes(attributes)
    .row
      .col-lg-6
        .organizer__left
          .organizer__logo(style="background-image: url(./img/" + logo + ");")
          .organizer__title!= title
      .col-lg-6
        p.p--sm!= dscr
        a.btn.btn-secondary.btn-sm(href="#") Подробнее