.russia {
  margin-top: -40px;
  width: 100%;
  position: relative;;

  @include media-breakpoint-down(sm) {
    display: none;
  }
  
  &__popup {
    position: absolute;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    
    &:before {
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      background: #fff;
      transform: rotate(45deg);
      position: absolute;
      left: 50%;
      top: -7px;
      margin-left: -7px;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    }
  }
  
  &__popup-content {
    position: relative;
    z-index: 1;
    background: #fff;
    padding: 20px;
  }
  
  &__popup-item {
    display: flex;
    align-items: center;
    
    &+& {
      margin-top: 15px;
    }
  }
  
  &__popup-item-icon {
    width: 30px;
    height: 30px;
    background-size: contain;
    margin-right: 20px;
    flex-shrink: 0;
  }
  
  &__popup-item-content {
    
    p {
      line-height: 18px;
    }
  }
}