mixin russia(modifier)
  .russia&attributes(attributes)
    img.img-fluid(src="img/russia.svg", alt="Russia")
    .russia__popup(style="top: 349px; left: 252px;")
      .russia__popup-content
        p.font-weight-bold.mb-20 Республика Коми
        .russia__popup-item
          .russia__popup-item-icon(style="background-image: url(./img/icon-scientist.svg);")
          .russia__popup-item-content
            p.p--lg.font-weight-bold.text-primary.mb-0 1500
            p.p--sm.mb-0 молодых ученых
        .russia__popup-item
          .russia__popup-item-icon(style="background-image: url(./img/icon-university.svg);")
          .russia__popup-item-content
            p.p--lg.font-weight-bold.text-primary.mb-0 15
            p.p--sm.mb-0 университетов