@mixin transition {
  transition: 0.3s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

@mixin placeholder($color) {
  &::-webkit-input-placeholder {color:$color;}
  &::-moz-placeholder          {color:$color;}
  &:-ms-input-placeholder      {color:$color;}
}

$borders: (
  'top',
  'left', 
  'right',
  'bottom'
);

.border {
  @each $position in $borders {
    
    &-#{$position} {
      border-#{$position}: 1px solid $border-color;
    }
  }
}
  
@media print {

  @for $i from 1 through 12 {
    .col-md-#{$i} {
      width: #{percentage(round($i*8.33)/100)};
    }
  }

  @for $i from 1 through 12 {
    .offset-md-#{$i} {
      margin-left: #{percentage(round($i*8.33)/100)};
    }
  }
}