.search {
  margin-left: 40px;

  @include media-breakpoint-down(sm) {
    margin-left: 30px;
  }
  
  &__btn {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 300;
    color: #000;
    @include transition;;

    @include media-breakpoint-down(sm) {
      font-size: 0;
    }
    
    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background: url(../img/search.svg) no-repeat;
      background-size: contain;
      margin-right: 8px;
      flex-shrink: 0;;

      @include media-breakpoint-down(sm) {
        margin-right: 0;
      }
    }
  }
}
