.challenge {
  flex: 1 1 155px;
  margin: 0 7px;

  @include media-breakpoint-down(md) {
    flex-basis: 48%;
    margin-bottom: 14px;
    flex-grow: 0;
    position: relative;
  }

  @include media-breakpoint-down(sm) {
    flex-basis: 40%;
    flex-grow: 1;
  }
  
  &:hover {
    
    .challenge__picture {
      background: #2252ac!important;
    }
    
    .challenge__title {
      background: #2252ac;
      color: #fff;
      
      &:before {
        background: #2252ac url(../img/triangle--white.svg) no-repeat center;
        background-size: 40%;
      }
      
      &:after {
        display: none;
      }
    }
  }
  
  &--active {
    
    .challenge__picture {
      background: #2252ac!important;
    }
    
    .challenge__popup {
      display: block;
    }
    
    .challenge__title {
      background: #2252ac;
      color: #fff;
      
      &:before {
        background: #2252ac url(../img/triangle--white.svg) no-repeat center;
        background-size: 40%;
      }
      
      &:after {
        display: none;
      }
    }
  }
  
  &__content {
    position: relative;
  }

  &__picture {
    height: 160px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  &__icon {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    @include transition;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__title {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    background: #f3f5f8;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-transform: lowercase;
    @include transition;

    @include media-breakpoint-down(lg) {
      font-size: 14px;
    }

    &:before {
      content: '';
      display: block;
      width: 26px;
      height: 26px;
      background: #f3f5f8;
      border-radius: 50%;
      position: absolute;
      bottom: -13px;
      left: 50%;
      margin-left: -13px;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    &:after {
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      border: 3px solid #fff;
      border-radius: 50%;
      position: absolute;
      bottom: -7px;
      left: 50%;
      margin-left: -7px;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
  
  &__popup {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    margin-top: 20px;
    padding: 30px 20px 0;
    background: #fff;
    display: none;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

    @include media-breakpoint-down(sm) {
      width: 100%;
      padding: 15px 15px 0;
    }
  }
  
  &__popup-header {
    margin-bottom: 20px;

    @include media-breakpoint-down(sm) {
      font-size: 13px;
      font-weight: 700;
      margin-bottom: 15px;
    }
  }
  
  &__popup-dscr {
    
    p {

      @include media-breakpoint-down(sm) {
        font-size: 12px;
        line-height: 1.5;
        margin-bottom: 15px;
      }
    }
  }
  
  &__popup-close {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 15px;
    background: url(../img/close--dark.svg) no-repeat;
    background-size: contain;
    display: block;
  }
}