mixin challenge(bg, icon, title, modifier)
  .challenge&attributes(attributes)
    a.challenge__content(href="#")
      .challenge__picture(style="background-image: url(./img/" + bg + ");")
        .challenge__icon(style="background-image: url(./img/" + icon + ");")
      .challenge__title= title
    .challenge__popup
      a.challenge__popup-close(href="#")
      h3.challenge__popup-header= title
      .challenge__popup-dscr
        p Исчерпание возможностей экономического роста России, основанного на экстенсивной эксплуатации сырьевых ресурсов, на фоне формирования цифровой экономики и появления ограниченной группы стран-лидеров, обладающих новыми производственными технологиями и ориентированных на использование возобновляемых ресурсов