.partners {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 25%;
    margin-bottom: 30px;
    padding: 10px;

    @include media-breakpoint-down(md) {
      flex: 1 0 50%;
    }
  }
}
