extends ../templates/template.pug
block content
  +header
  +front
  +about
  +participate(class="mt-30 mt-lg-70")
  .container.py-30.py-lg-60#competition
    .row
      .col-12
        h2.text-center.mb-30.mb-lg-70 Конкурс идей
    .row
      .col-md-6.col-xl-5
        p Участниками Всероссийской конференции молодых ученых «Дальние горизонты науки» стали победители первого этапа Конкурса научно-исследовательских работ, направленных на преодоление больших вызовов 
          a.font-weight-bold(href="#") Стратегии научно-технологического развития Российской Федерации (СНТР).
        p.p--lg.border-top.pt-40 Задача Конкурса была выработка смелых, ярких и амбициозных идей долгосрочных исследований, направленных на преодоление больших вызовов СНТР.
      .col-md-5.offset-xl-1
        p.font-weight-bold.mb-15 Для участия в первом этапе конкурса требуется:
        .accent
          p.p--lg.mb-0 до 17 ноября 2018 года заполнить в личном кабинете раздел «Конкурсное задание».
        p.font-weight-bold.mb-15.mt-40 Финал Конкурса
        .accent
          p.p--lg.mb-0 пройдет в рамках Конференции 7 декабря 2017 года среди участников, отобранных по итогам первого этапа
    .row.mt-30.mt-lg-90
      .col-12
        p.p--lg.text-center.mb-0 Подробнее о правилах Конкурса читайте 
          a.font-weight-bold(href="#") в Положении.
  .bg-dark.pt-30.pt-sm-65.pb-sm-20#nominations
    .container
      .row
        .col-12
          h2.text-center.text-primary.mb-20.mb-sm-60 Номинации
      .row
        .col-md-6.col-xl-4
          +nomination('nomination-1.jpg', '1', '#Работаем с талантами!')
        .col-md-6.col-xl-4
          +nomination('nomination-2.jpg', '2', '#Создаем партнёрства!')
        .col-md-6.col-xl-4
          +nomination('nomination-3.jpg', '3', '#Побеждаем во взаимодействии!')
        .col-md-6.col-xl-4
          +nomination('nomination-4.jpg', '4', '#Устраняем барьеры!')
        .col-md-6.col-xl-4
          +nomination('nomination-5.jpg', '5', '#Организуем пространство!')
        .col-md-6.col-xl-4
          +nomination('nomination-6.jpg', '6', '#Вызов принят!')
  .bg-dark.pb-50#participate
    .container
      .row
        .col-12
          .accent
            .d-md-flex.align-items-center.justify-content-between
              p.mb-0.mr-md-50.mb-20.mb-md-0 Зарегистрируйтесь на конференцию и съезд сегодня!
              a.btn.btn-secondary.btn-sm.btn--signup(href="#") Зарегистрироваться
  .bg-light.py-30.pt-sm-65.pb-sm-35#members
    .container
      .row
        .col-12
          h2.text-center.mb-30.mb-sm-65 Участники сессий
          .row
            .col-xl-10.offset-xl-1
              .members-list
                +member('member-1.jpg', 'Андрей Фурсенко', 'помощник Президента Российской Федерации')
                +member('member-2.jpg', 'Михаил Ковальчук', 'президент НИЦ «Курчатовский институт»')
                +member('member-3.jpg', 'Константин Кох', 'старший научный сотрудник ФГБУН "Институт геологии и минералогии имени В.С.Соболева')
                +member('member-4.jpg', 'Екатерина Прошкина', 'Кандидат биологических наук,старший научный сотрудник Института биологии Коми')
                +member('member-5.jpg', 'Максим Никитин', 'заведующий лабораторией нанобиотехнологий ФГАОУ ВО "Московский физико-технический институт')
  .container.pt-80
    .row
      .col-12
        h2.text-center.mb-45 Объединяйтесь с учеными, найдите ответы на #Вызовы
        .challenges-list
          +challenge('challenge-1.jpg', 'challenge-icon-1.png', '#Природа')
          +challenge('challenge-2.jpg', 'challenge-icon-2.png', '#Энеретика')
          +challenge('challenge-3.jpg', 'challenge-icon-3.png', '#Демография')
          +challenge('challenge-4.jpg', 'challenge-icon-4.png', '#Безопасность')
          +challenge('challenge-5.jpg', 'challenge-icon-5.png', '#Пространство')
          +challenge('challenge-6.jpg', 'challenge-icon-6.png', '#Продовольствие')
          +challenge('challenge-7.jpg', 'challenge-icon-7.png', '#Экономика')
  .container.mt-60#lectures
    .row
      .col-12
        h2.text-center.mb-80 Лекции лауреатов премии Президента Российской Федерации в области науки и инноваций для молодых учёных
        .lectures-list
          +lecture('lecture-1.jpg', 'Александра Калашникова', 'Свет и магнитные вещества: от эффекта Фарадея к сверхбыстрой оптомагнитной записи')
          +lecture('lecture-2.jpg', 'Павел Белов', 'Нанофотоника и метаматериалы')
          +lecture('lecture-3.jpg', 'Анна Кудрявцева', 'Современная молекулярная биология и генетика в борьбе с онкологическими заболеваниями')
  .container.mt-20.mt-sm-60#organizers
    .row
      .col-12
        h2.text-center.mb-45 Организаторы
        +organizer('organizer-1.png', 'ООО “Национальная инновационная компания”', 'ООО “Национальная инновационная компания” является динамично развивающейся компанией, которая была учреждена в 2006 году с целью проведения научных исследований и создания инновационных проектов. <br><br>«Национальная Инновационная Компания» выполнила большое количество научно-исследовательских и опытно-конструкторских проектов')
        +organizer('organizer-2.png', '<p class="p--sm mb-10">Совете при Президенте Российской Федерации по науке и образованию</p><p class="organizer__subheader mb-0">Координационный совет по делам молодежи в научной и образовательной сферах</p>', 'Координационный совет по делам молодежи в научной и образовательной сферах является консультативным органом при Совете при Президенте Российской Федерации по науке и образованию, созданным в целях обеспечения взаимодействия Совета по науке и образованию с общественными молодежными объединениями и организациями при рассмотрении вопросов, связанных с развитием науки и образования.')
        +organizer('organizer-3.png', 'Cанкт-Петербургский Горный университет', 'Cанкт-Петербургский Горный университет – первое в России высшее техническое учебное заведение. Основанное Указом императрицы Екатерины II 21 октября (1 ноября) 1773 года как воплощение идей Петра I и М.В. Ломоносова о подготовке инженерных кадров для развития горнозаводского дела.')
  .container.mt-25#partners
    .row
      .col-12
        h2.text-center.mb-40 Партнеры
        .partners
          a.partners__item(href="#")
            img.partners__item-logo.img-fluid(src="img/partner-1.png", alt="Logo")
          a.partners__item(href="#")
            img.partners__item-logo.img-fluid(src="img/partner-2.png", alt="Logo")
          a.partners__item(href="#")
            img.partners__item-logo.img-fluid(src="img/partner-3.png", alt="Logo")
          a.partners__item(href="#")
            img.partners__item-logo.img-fluid(src="img/partner-4.png", alt="Logo")
          a.partners__item(href="#")
            img.partners__item-logo.img-fluid(src="img/partner-5.png", alt="Logo")
          a.partners__item(href="#")
            img.partners__item-logo.img-fluid(src="img/partner-6.png", alt="Logo")
          a.partners__item(href="#")
            img.partners__item-logo.img-fluid(src="img/partner-7.png", alt="Logo")
    .row.pb-50
      .col-12
        h2.text-center.mt-20.mb-60 Информационные партнеры
        .partners
          a.partners__item(href="#")
            img.partners__item-logo.img-fluid(src="img/partner-8.png", alt="Logo")
          a.partners__item(href="#")
            img.partners__item-logo.img-fluid(src="img/partner-9.png", alt="Logo")
          a.partners__item(href="#")
            img.partners__item-logo.img-fluid(src="img/partner-10.png", alt="Logo")
  .bg-light.pt-40.pt-sm-90#faq
    .container
      .row
        .col-12
          h2.text-center.mb-50 Ответы на Часто задаваемые вопросы
          +question('Миниатюрный томограф опознал в окаменелости «праматерь» всех ящериц')
          +question('На сегодняшний день известно 10 000 видов животных из отряда чешуйчатых (Squamata), но в данных об эволюции этих существ и их общем предке есть значительные пробелы')
          +question('15 лет назад на севере Италии была найдена очень хорошо сохранившаяся окаменелость крошечной рептилии')
          +question('Миниатюрный томограф опознал в окаменелости «праматерь» всех ящериц')
          +question('Megachirella wachtleri. Ученые предположили, что животное принадлежит к надотряду лепидозавров (Lepidosauria)')
          h2.text-center.mt-60.mb-15 Остались вопросы? Напишите НАМ!
          p.text-center Запоните Ваши данные и задайте вопрос. Мы ответим Вам в течение 24 часов
          form.form.mt-40.mt-sm-90.mb-20.mb-md-0(action="#", method="POST")
            .row
              .col-md-4
                .form-group
                  input.input.form-control(type="text", placeholder="ФИО")
                .form-group
                  input.input.form-control(type="text", placeholder="Номер телефона")
                .form-group
                  input.input.form-control(type="email", placeholder="Ваш e-mail")
              .col-md-4.d-flex
                .form-group.d-flex.flex-column.w-100
                  textarea.input.input--textarea.form-control(placeholder="Ваш вопрос")
              .col-md-4
                .pl-xl-50
                  button.btn.btn-secondary.btn-lg.w-100.mb-20.mb-md-40(type="submit") Отправить
                  .custom-control.custom-checkbox
                    input#rules.custom-control-input(type='checkbox')
                    label.custom-control-label(for='rules') Соглашаюсь с условиями обработки персональных данных и пользовательским соглашением
  +contacts