extends ../templates/template.pug
block content
  .print
    +header(class='print__false')
    .container
      .row
        .col-12
          .registration.print__form
            .front.print__true.print__invisible.pt-0
              .row
                .col-12
                  .front__content
                    .row
                      .col-7
                        .front__left
                          h1 Молодежные объединения - <br>стратегия и тактика
                          .front__subheader Всероссийская конференция молодых <br>ученых и iX всероссийский съезд советов <br>молодых ученых и специалистов
                      .col-4.offset-1
                        .front__right
                          .front__date 11-13 октября 2018
                        p.p--lg.mb-0 СПБ, Горный университет
            .print__false
              h1.mb-15 Регистрация
              p.registration__subheader Заполните заявку на участие в конкурсе
              p.p--lg.font-weight-bold.mb-35 Выберите номинацию
              .row
                .col-md-6.col-xl-4
                  .custom-control.custom-radio.custom-radio--btn
                    input#nomination1.custom-control-input(type='radio', name="nomination")
                    label.custom-control-label(for='nomination1') #Работаем с талантами!
                .col-md-6.col-xl-4
                  .custom-control.custom-radio.custom-radio--btn
                    input#nomination2.custom-control-input(type='radio', name="nomination")
                    label.custom-control-label(for='nomination2') #Устраняем барьеры!
                .col-md-6.col-xl-4
                  .custom-control.custom-radio.custom-radio--btn
                    input#nomination3.custom-control-input(type='radio', name="nomination")
                    label.custom-control-label(for='nomination3') #Организуем пространство!
                .col-md-6.col-xl-4
                  .custom-control.custom-radio.custom-radio--btn
                    input#nomination4.custom-control-input(type='radio', name="nomination")
                    label.custom-control-label(for='nomination4') #Создаём партнёрства!
                .col-md-6.col-xl-4
                  .custom-control.custom-radio.custom-radio--btn
                    input#nomination5.custom-control-input(type='radio', name="nomination")
                    label.custom-control-label(for='nomination5') #Побеждаем во взаимодействии!
                .col-md-6.col-xl-4
                  .custom-control.custom-radio.custom-radio--btn
                    input#nomination6.custom-control-input(type='radio', name="nomination")
                    label.custom-control-label(for='nomination6') #Вызов принят!
              .row.registration__section.registration__content
                .col-lg-3.pt-35
                  p.p--lg.p--lh-md.font-weight-bold.mb-20 Сведения о Совете молодых ученых и специалистов (СМУС)
                .col-lg-9.pt-md-25
                  .row
                    .col-lg-5
                      .registration__item
                        select.select.select--subject
                          option
                          option Московская область
                          option Ленинградская область
                          option Алтайская область
                  .row
                    .col-12
                      .form-group.registration__item
                        input.input-line.registration__input.form-control(type="text")
                        label.registration__label Наименование организации или ведомства, при которой (котором) действует СМУС
                        p.registration__required Обязательное поле
            .row.registration__section.registration__section--fake.print__order.print__order--first.registration__content
              .col-lg-3.pt-35.print__false
                p.p--lg.p--lh-md.font-weight-bold.mb-20 Общие сведения
              .col-lg-9.pt-md-25
                .form-group.registration__item
                  textarea.input-line.input-line--project-name.registration__input.form-control(onkeyup="textAreaAdjust(this)")
                  label.registration__label Наименование проекта
                    span.print__false , сведения о котором содержатся в конкурсной заявке
                .registration__subsection-header.print__false
                  span.registration__subsection-title Сроки реализации проекта
                  span.registration__subsection-comment.print__false не ранее 1 января 2017 года
                .row
                  .col-md-4
                    .form-group.registration__item
                      input.input-line.input-line--calendar.registration__input(type="text", placeholder="ДД.ММ.ГГГГ")
                      label.registration__label Начало 
                        span.print__invisible.print__invisible--inline реализации проекта
                  .col-md-4
                    .form-group.registration__item
                      input.input-line.input-line--calendar.registration__input(type="text", placeholder="ДД.ММ.ГГГГ")
                      label.registration__label Окончание 
                        span.print__invisible.print__invisible--inline реализации проекта
            .row.registration__section.print__order.print__order--third.registration__content
              .col-lg-3.pt-35.print__false
              .col-lg-9.pt-md-25
                .registration__subsection-header
                  span.registration__subsection-title Руководитель проекта СМУС
                .form-group.registration__item.print__true
                  input.input-line.registration__input.form-control(type="text", value="Вересов Виктор Валентинович")
                  label.registration__label.registration__label--active Фамилия Имя Отчество
                .row.print__false
                  .col-md-6
                    .form-group.registration__item
                      input.input-line.registration__input.form-control(type="text")
                      label.registration__label Основное место работы
                  .col-md-6
                    .form-group.registration__item
                      input.input-line.registration__input.form-control(type="text")
                      label.registration__label Должность
                .form-group.registration__item.print__false
                  input.input-line.registration__input.form-control(type="text")
                  label.registration__label Образование (Уровень и специальность)
                .row.print__info
                  .col-md-4
                    .registration__item.print__false
                      select.select.select--role
                        option
                    .registration__item
                      label.registration__label.registration__label--static.print__invisible Регион проживания
                      select.select.select--region
                        option
                        option г. Москва
                        option г. Санкт-Петербург
                  .col-md-4
                    .form-group.registration__item.print__false
                      input.input-line.input-line--calendar.registration__input(type="text", value="ДД.ММ.ГГГГ")
                      label.registration__label Дата рождения
                    .form-group.registration__item
                      input.input-line.registration__input.form-control(type="text")
                      label.registration__label Контактный телефон
                  .col-md-4
                    .registration__item.registration__item--sex.print__false
                      label.registration__label Пол
                      .custom-control.custom-radio.mb-0
                        input#sex1.custom-control-input(type='radio', name="sex")
                        label.custom-control-label(for='sex1') Муж
                      .custom-control.custom-radio.mb-0
                        input#sex2.custom-control-input(type='radio', name="sex")
                        label.custom-control-label(for='sex2') Жен
                    .form-group.registration__item
                      input.input-line.registration__input.form-control(type="text")
                      label.registration__label Адрес электронной почты
                .print__invisible
                  .row
                    .col-12
                      p Подтверждаю, что все данные о проекте, указанные в данном отчете, соответствуют данным о проекте, предоставленным в электронной форме при регистрации
                    .col-md-2.offset-md-7
                      .form-group.registration__item
                        input.input-line.registration__input(type="text")
                        label.registration__label Подпись
                    .col-md-3
                      .form-group.registration__item
                        input.input-line.registration__input(type="text")
                        label.registration__label ФИО
            .row.registration__section.print__false.registration__content
              .col-lg-3.pt-35
                p.p--lg.p--lh-md.font-weight-bold.mb-20 Охват проекта
              .col-lg-9.pt-md-25
                .registration__subsection-header.mb-25
                  span.registration__subsection-title Численность молодых ученых и специалистов, охваченных проектом
                .custom-control.custom-radio
                  input#number1.custom-control-input(type='radio', name="number")
                  label.custom-control-label(for='number1') до 25 человек
                .custom-control.custom-radio
                  input#number2.custom-control-input(type='radio', name="number")
                  label.custom-control-label(for='number2') от 26 до 50 человек
                .custom-control.custom-radio
                  input#number3.custom-control-input(type='radio', name="number")
                  label.custom-control-label(for='number3') от 51 до 100 человек
                .custom-control.custom-radio
                  input#number4.custom-control-input(type='radio', name="number")
                  label.custom-control-label(for='number4') более 100 человек
                .registration__subsection-header.my-25
                  span.registration__subsection-title Территориальный охват проекта
                .custom-control.custom-radio
                  input#number5.custom-control-input(type='radio', name="subjects")
                  label.custom-control-label(for='number5') проект охватывает участников из 1 субъекта Российской Федерации
                .custom-control.custom-radio
                  input#number6.custom-control-input(type='radio', name="subjects")
                  label.custom-control-label(for='number6') проект охватывает участников из 2-5 субъектов Российской Федерации
                .custom-control.custom-radio
                  input#number7.custom-control-input(type='radio', name="subjects")
                  label.custom-control-label(for='number7') проект охватывает участников более, чем из 5 субъектов Российской Федерации
                .custom-control.custom-radio
                  input#number8.custom-control-input(type='radio', name="subjects")
                  label.custom-control-label(for='number8') проект охватывает участников из других стран
                .form-group.registration__item.mt-30
                  input.input-line.registration__input.form-control(type="text")
                  label.registration__label Укажите через запятую страны охвата участников
            .row.registration__section.print__order.print__order--second.registration__content
              .col-lg-3.pt-35.print__false
                p.p--lg.p--lh-md.font-weight-bold.mb-20 Описание проекта
              .col-lg-9.pt-md-25.print__true
                .form-group.registration__item
                  label.registration__label.position-static.registration__label--static.mb-15 
                    span.print__false Краткое описание проекта, включая его общую идею, цель и задачи, значимость, основные количественные и качественные результаты, демонстрирующие его эффективность
                    span.print__invisible Описание проекта
                  textarea.input-line.input-line--textarea.form-control(onkeyup="textAreaAdjust(this)")
                  .registration__symbol-counter.print__false
                    span.registration__symbol-counter-header не более 5400 знаков с пробелами
                    span.registration__symbol-counter-content осталось 2300 знаков
            .row.registration__section.print__false.registration__content
              .col-lg-3.pt-35
                p.p--lg.p--lh-md.font-weight-bold.mb-20 Подтверждение заявки
              .col-lg-9.pt-md-25
                .accent.mb-40
                  .d-md-flex.align-items-start.justify-content-between
                    p.mb-0.mr-md-50.mb-20.mb-md-0 Пожалуйста, распечатайте свою заявку, подпишите и и прикрепите в разделе «Документы» ниже.
                    a.btn.btn-secondary.btn--print(href="#") Распечатать заявку
                .registration__files
                  +file('Добавить<br>скан-копию')(class="file--document")
            .row.registration__section.print__false.registration__content
              .col-lg-3.pt-35
                p.p--lg.p--lh-md.font-weight-bold.mb-20 Приложения
              .col-lg-9.pt-md-25
                .registration__subsection-header
                  span.registration__subsection-title Отзывы и рекомендательные письма
                .registration__files
                  +file('Добавить<br>скан-копию')(class="file--document")
                .registration__subsection-header.mt-40
                  span.registration__subsection-title Упоминания в СМИ
                .form-group.registration__item
                  input.input-line.registration__input.form-control(type="text")
                  label.registration__label Ссылка на материал
                .form-group.registration__item
                  input.input-line.registration__input.form-control(type="text")
                  label.registration__label Ваши комментарии  (не обязательно)
                a.registration__add(href="#") Добавить еще ссылку на статью или материал
                .registration__subsection-header
                  span.registration__subsection-title Иллюстрационный материал
                .registration__files
                  +file('Добавить фото или изображение')
            .row.registration__section.print__false.registration__content
              .col-lg-3.pt-35
                p.p--lg.p--lh-md.font-weight-bold.mb-20 Дополнительные вопросы
              .col-lg-9.pt-md-25
                .row
                  .col-md-6
                    .registration__item
                      select.select.select--age
                        option
                  .col-md-6
                    .registration__item
                      select.select.select--auditory
                        option
                .form-group.registration__item
                  input.input-line.registration__input.form-control(type="text")
                  label.registration__label Периодичность проекта
                .form-group.registration__item
                  input.input-line.registration__input.form-control(type="text")
                  label.registration__label Истории успеха участников проекта
                .custom-control.custom-checkbox.mt-40
                  input#data.custom-control-input(type='checkbox')
                  label.custom-control-label(for='data') Даю согласие на регистрацию и 
                    a(href="#") обработку персональных данных
                    |.
                .d-flex.align-items-center.justify-content-between.flex-column.flex-md-row.mt-40
                  a.btn.btn-outline-primary.btn-lg(href="#") Отменить
                  .d-flex.align-items-center.flex-column.flex-md-row
                    span.registration__btn-comment При нажатии кнопки система “Завершить регистрацию” автоматически создаст аккаунт в сервисе ScienceID
                    button.btn.btn-secondary.btn-lg(type='submit') Завершить регистрацию