mixin front(modifier)
  .front#top&attributes(attributes)
    .container
      .row
        .col-12
          .front__wrapper
            .front__content
              .front__left
                h1 Молодежные объединения - <br>стратегия и тактика
                .front__subheader Всероссийская конференция молодых <br>ученых и iX всероссийский съезд советов <br>молодых ученых и специалистов
              .front__right
                .front__date 11-13 октября 2018
                p.p--lg.mb-0 СПБ, Горный университет
            +russia