.front {
  background: $light;
  
  
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding-top: 90px;
    padding-bottom: 40px;
    
    @media screen and (min-height: 1000px) {
      padding-bottom: 90px;
    }

    @include media-breakpoint-down(md) {
      min-height: 0;
    }
  }
  
  &__content {
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }
  
  &__left {
    
  }
  
  &__subheader {
    font-size: 20px;
    line-height: 27px;
    color: #4f4f4f;
    text-transform: uppercase;

    @include media-breakpoint-down(lg) {
      font-size: 18px;
    };

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }
  }
  
  &__right {
    margin-left: 30px;

    @include media-breakpoint-down(md) {
      margin-left: 0;
      margin-top: 30px;
    }
  }
  
  &__date {
    font-size: 30px;
    font-weight: 700;
    color: $primary;
    margin-bottom: 0;
    line-height: 27px;
    margin-top: 4px;
    white-space: nowrap;
  }
  
  &__place {
    
  }
}