mixin file(title, modifier)
  .file&attributes(attributes)
    input.file__input(type="file")
    .file__progress
      .file__progress-title Загрузка
      .file__bar-wrapper
        .file__bar(style="width: 0%;")
    label.file__btn!= title
    .file__final-wrapper
      a.file__remove(href="#")
        .file__remove-content
      img.file__final(src, alt="Picture")