.file {
  position: relative;
  width: 100px;
  height: 100px;
  
  &__progress {
    display: none;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    position: absolute;
    left: 5px;
    top: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 18px;
    background: rgba(224, 224, 224, 0.51);
    border: 5px solid #fff;
    outline: 5px solid rgba(224, 224, 224, 0.51);
    
    &--active {
      display: flex;
    }
  }
  
  &__progress-title {
    font-size: 10px;
    text-align: center;
    color: $secondary;
    margin-bottom: 10px;
  }
  
  &__bar-wrapper {
    width: 57px;
    background: #fff;
    height: 5px;
  }
  
  &__bar {
    height: 100%;
    background: $secondary;
  }
  
  &__input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
  }
  
  &__btn {
    font-size: 10px;
    color: $secondary;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(16, 139, 155, 0.34);
    margin-bottom: 0;
    padding: 0 5px;
    
    &--inactive {
      display: none;
    }
    
    &:before {
      content: '';
      display: block;
      width: 34px;
      height: 34px;
      margin-bottom: 10px;
      background: url(../img/add.svg) no-repeat;
      background-size: contain;
    }
  }
  
  &__final-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    
    &--active {
      display: block;
    }
  }
  
  &__final {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  &__remove {
    width: 23px;
    height: 23px;
    border: 2px solid #fff;
    top: -11.5px;
    right: -11.5px;
    display: block;
    position: absolute;
    border-radius: 50%;
    z-index: 2;
  }
  
  &__remove-content {
    background: #fff url(../img/close.svg) no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  
  &--document {
    width: 100px;
    height: 135px;
  }
}
