.contacts {
  position: relative;
  min-height: 640px;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 60px 0;

  @include media-breakpoint-down(md) {
    display: block;
    padding: 0;
  }
  
  &__map {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    @include media-breakpoint-down(md) {
      position: relative;
    }
  }
  
  &__content {
    border-radius: 5px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    background: #fff;
    padding: 30px 100px 30px 30px;

    @include media-breakpoint-down(md) {
      padding: 30px 0;
      box-shadow: none;
    }
  }
}
