mixin contacts(modifier)
  .contacts#contacts&attributes(attributes)
    +map(class="contacts__map")
    .container
      .row
        .col-lg-6
          .contacts__content
            p.mb-20 Почта для связи 
              a(href="mailto:congress@korsovet.ru") congress@korsovet.ru
            p.font-weight-bold.mb-15 Ключевые даты:
            p.mb-20 Проведение Конференции 7-8 декабря 2018 года <br>Приём заявок на конкурс до 17 ноября 2018 года
            p.font-weight-bold Аккредитация СМИ:
            p.mb-20 Максим Ратников, 
              a(href="mailto:video@spmi.ru") video@spmi.ru <br>
              | Татьяна Николаева, 
              a(href="mailto:Tatjana.Nikolaeva@rgo.ru") Tatjana.Nikolaeva@rgo.ru, 88123158535
            p.p--dark.font-weight-bold.mb-15 Срок окончания аккредитации: 6 декабря, 17.00
            p.mb-0 Место проведения: Санкт-Петербургский горный университет, МФК «Горный» <br>Адрес: г. Санкт-Петербург, Васильевский остров, ул. Наличная, д. 28/16 Д