.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  padding: 0 15px;
  margin-bottom: 50px;
  
  &__photo {
    width: 188px;
    height: 188px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
