mixin member(photo, name, dscr, modifier)
  .member&attributes(attributes)
    .member__photo.mb-25(style="background-image: url(./img/" + photo + ");")
    p.font-weight-semibold.text-uppercase.mb-5= name
    p.font-weight-light.mb-0= dscr