.nomination {
  height: 216px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 30px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 60px;
  }
  
  &__picture-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    border-radius: 5px;
    
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(180deg, rgba(18, 18, 18, 0.35) 0%, #16957C 100%);
      z-index: 1;
    }
  }
  
  &__picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  &__content {
    position: relative;
    z-index: 2;
//    padding: 40px 25px;
    padding: 30px 25px;
  }
  
  &__number {
    color: $primary;
    font-size: 150px;
    font-weight: 800;
    line-height: 176px;
    position: absolute;
    top: -81px;
    left: 20px;
    z-index: 2;
  }
  
  &__title {
    font-size: 28px;
    line-height: 26px;
    color: #fff;
    font-weight: 800;
  }
}
