mixin nomination(picture, number, title, modifier)
  .nomination&attributes(attributes)
    .nomination__picture-wrapper
      .nomination__picture(style="background-image: url(./img/" + picture + ");")
    //.nomination__number= number
    .nomination__content
      .nomination__title= title