mixin map(modifier)
  .map&attributes(attributes)
    script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A3a3ac110a2636f12fd991426bed86db2515a2f4fc141d8193c3c7bc25d60514a&width=100%25&height=640&lang=ru_RU&scroll=true')