mixin menu(modifier)
  .menu&attributes(attributes)
    a.menu__btn(href="#")
      span.menu__btn-title.menu__btn-title--active Меню
      span.menu__btn-title Закрыть
    .menu__content
      .container
        .row
          .col-12
            .menu__content-list
              a.menu__link(href="#top") Главная
              a.menu__link(href="#about") О мероприятии
              a.menu__link(href="#program") Программа конференции
              a.menu__link(href="#participate") Регистрация
              a.menu__link(href="#competition") Конкурс идей
              a.menu__link(href="#nominations") Номинации
              a.menu__link(href="#members") Участники сессий
              a.menu__link(href="#lectures") Доклады мероприятий
              a.menu__link(href="#organizers") Организаторы
              a.menu__link(href="#partners") Партнеры
              a.menu__link(href="#faq") Часто задаваемые вопросы
              a.menu__link(href="#contacts") Контакты
              //a.menu__link(href="#") Совещание СМУС
              //a.menu__link(href="#") Программа экскурсий