.menu {
  
  &__btn {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 300;
    color: #000;
    position: relative;
    @include transition;
    
    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 14px;
      background: url(../img/menu.svg) no-repeat;
      background-size: contain;
      margin-right: 15px;;

      @include media-breakpoint-down(sm) {
        margin-right: 0;
      }
    }
    
    &--active {
      z-index: 2;
      font-size: 18px;
      color: $primary;
      font-weight: 400;
      
      &:before {
        width: 33px;
        height: 33px;
        margin-right: 16px;
        background: url(../img/close.svg) no-repeat;
        background-size: contain;
      }
    }
  }
  
  &__btn-title {
    display: none;
    
    &--active {
      display: block;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }

  &__content {
    display: none;
    
    &--active {
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 1;
      
      &:before {
        content: '';
        display: block;
        width: 50%;
        height: 100vh;
        background: rgba(#f7f7f7, .95);
        position: absolute;
        left: 0;
        top: 0;

        @include media-breakpoint-down(sm) {
          width: 100%;
        }
      }
    }
  }
  
  &__content-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 100px;
    min-height: 100vh;

    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  
  &__link {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    line-height: 25px;
    @include transition;

    @include media-breakpoint-down(sm) {
      font-size: 16px;
    }
    
    &+& {
      margin-top: 25px;

      @include media-breakpoint-down(sm) {
        margin-top: 10px;
      }
    }
  }
}