.registration {
  padding-top: 110px;
  
  &__subheader {
    font-size: 14px;
    color: #000;
  }
  
  &__content {
    display: none;
    
    &--active {
      display: flex;
    }
  }
  
  &__section {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 45px;
    
    &--fake {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
  
  &__item {
    position: relative;
    margin-bottom: 30px;

    @include media-breakpoint-down(sm) {
      display: flex;
      flex-direction: column;
    }
  
    @media print {
      margin-bottom: 35px;
    }
    
    &--sex {
      display: flex;
      align-items: center;
      height: 45px;

      @include media-breakpoint-down(sm) {
        flex-direction: row;
      }
      
      .registration__label {
        position: static;
        margin: 0;
        margin-right: 23px;

        @include media-breakpoint-down(sm) {
          order: 0;
        }
      }
      
      .custom-radio + .custom-radio {
        margin-left: 15px;
      }
      
      .custom-control-label {
        font-size: 18px;
        color: #000;
        
        &:before {
          top: 4px;
        }
      }
    }
  }
  
  &__input {
    
    &:focus, &--active {
      background: transparent!important;
      
      & ~ .registration__label {
        margin-top: -15px;

        @include media-breakpoint-down(sm) {
          margin-top: 16px;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      order: 2;
    }
    
    @media print {
      background: transparent!important;

      & ~ .registration__label {
        margin-top: -15px;

        @include media-breakpoint-down(sm) {
          margin-top: 16px;
        }
      }

      @include media-breakpoint-down(sm) {
        order: 2;
      }
    }
  }
  
  &__label {
    font-size: 13px;
    color: #808083;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 16px;
    z-index: -1;
    @include transition;

    @include media-breakpoint-down(sm) {
      order: 1;
      position: static;
    }
  }
  
  &__required {
    font-size: 11px;
    line-height: 1;
    color: #e32124;
    margin-top: 10px;
    margin-bottom: 0;

    @include media-breakpoint-down(sm) {
      order: 3;
    }
  }
  
  &__subsection-header {
    background: #CBEFF3;
    display: inline-flex;
    align-items: baseline;
    padding: 0 10px;
    line-height: 25px;
    margin-bottom: 30px;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }
  
  &__subsection-title {
    font-size: 15px;
    margin-right: 5px;
  }
  
  &__subsection-comment {
    font-size: 11px;
    color: #808083;
  }
  
  &__symbol-counter {
    display: flex;
    align-items: baseline;
    font-size: 11px;
    line-height: 13px;
    margin-top: 18px;
  }
  
  &__symbol-counter-header {
    color: #808083;
  }
  
  &__symbol-counter-content {
    color: $secondary;
    margin-left: 10px;
    font-weight: 700;
  }
  
  &__files {
    display: flex;
  }
  
  &__add {
    display: flex;
    align-items: center;
    font-size: 10px;
    color: $secondary;
    margin-bottom: 30px;
    
    &:before {
      content: '';
      display: block;
      width: 23px;
      height: 23px;
      margin-right: 22px;
      background: url(../img/add.svg) no-repeat;
      background-size: contain;
    }
  }
  
  &__btn-comment {
    font-size: 9px;
    color: #000;
    margin-right: 30px;
    max-width: 170px;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      max-width: none;
      margin: 20px 0;
      text-align: center;
    }
  }
  
  .custom-checkbox {
    padding-left: 36px;
    
    .custom-control-input {
    
      &:checked ~ .custom-control-label {

        &:before {
          background: #fff url(../img/check.svg) no-repeat center;
          background-size: 70%;
        }

        &:after {
          display: none;
        }
      }
    }
    
    .custom-control-label {
      font-size: 15px;
      color: #4f4f4f;
      
      &:before {
        width: 20px;
        height: 20px;
        background: transparent;
        border: 1px solid $secondary;
        left: -36px;
      }
    }
  }
}