mixin header(modifier)
  .header&attributes(attributes)
    .container
      .row
        .col-12
          .header__content
            .header__section
              +menu
              //+search
            .header__section
              a.btn.btn-secondary.btn-sm.btn--signup(href="#") Регистрация
              //a.header__cabinet(href="#") Личный кабинет