.header {
  background: $light;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22.5px 0;
  }
  
  &__section {
    display: flex;
    align-items: center;
  }
  
  &__cabinet {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
    margin-left: 40px;
    color: $secondary;
    @include transition;

    @include media-breakpoint-down(sm) {
      font-size: 0;
      margin-left: 20px;
    }
    
    &:before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background: url(../img/user.svg) no-repeat;
      background-size: contain;
      margin-right: 10px;
      flex-shrink: 0;;

      @include media-breakpoint-down(sm) {
        margin-right: 0;
      }
    }
  }
}
